<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <p>Browse the service project categories available in our community.</p>

    <% if (categories.length > 0) { %>

        <ul class="category-list">

            <% categories.forEach(category => { %>

                <li class="category-item">
                    <a href="/categories/<%= category.category_id %>">
                        <%= category.category_name %>
                    </a>
                </li>

            <% }) %>

        </ul>

    <% } else { %>

        <p>No service categories are currently available.</p>

    <% } %>

</main>

<%- include('partials/footer') %>